.hidden {
    display: none;
}

fieldset {
    border: solid 0.2em;
    margin: 0.5em;
    width: 12.5em;
}

legend {
    padding: 0.2em;
}

#resetPage {
    background-color: brown;
    border: 0.2em solid black ;
    color: black;
    padding: 1em;
}

#resetPage:hover {
    background-color: darkred;
    color: white;
}

#addOrder {
    background-color: dodgerblue;
    border: 0.2em solid black ;
    color: black;
    padding: 1em;
}
#addOrder:hover {
    background-color: blue;
    color: white;
}

#placeOrder {
    background-color: darkseagreen;
    border: 0.2em solid black ;
    color: black;
    padding: 1em;
}

#placeOrder:hover {
    background-color: green;
    color: white;
}

input {
    margin: 0.3em;
}

#orderTotal {
    width: 50em;
}

#saveFavourite {
    background-color: lightyellow;
    border: 0.2em solid black ;
    color: black;
    padding: 1em;
}

#saveFavourite:hover {
    background-color: darkkhaki;
    color: white;
}

#orderFavourite {
    background-color: mediumpurple;
    border: 0.2em solid black ;
    color: black;
    padding: 1em;
}

#orderFavourite:hover {
    background-color: rebeccapurple;
    color: white;
}
